<div ng-app="Pokemon" ng-controller="PokeCtrl">
  <form ng-submit="getPokemon()">
    <label for="id">Type a number 1-151</label>
    <input type="text ng-model="pokemonId">
    <input type="submit" value="Get Pokemon">
  </form>
	<div ng-show="pokemon">
	{{pokemon}}
	</div>
</div>
